
  ion-icon{
    display: block;
    font-size: 32px;
    margin: auto;
  }

ion-button{
  text-transform: none;
  color: white;
}

ion-content{
  --ion-background-color:#fafafa;
}

ion-item{
  --ion-background-color: white;
}

