<ion-header>
  <ion-toolbar>
    <ion-title>
      Mon compte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="header">
  <ion-icon name="contact"></ion-icon>
  <ion-label>Nom</ion-label>
</ion-header>

<ion-content>
  <ion-label>Mes annonces</ion-label>
  <ion-card class="welcome-card">
    <img src="/assets/icon/annonce1-1.jpeg" alt="" />
    <ion-card-content>
      <ion-card-title>Titre</ion-card-title>
      <p class="price">Prix €</p>
      <p>type</p>
      <p>lieu</p>
      <p class="date">date</p>
    </ion-card-content>
  </ion-card>
</ion-content>
