<ion-content>
  <div id="images-annonce">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-img src="../../assets/icon/annonce1-1.jpeg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="../../assets/icon/annonce1-2.jpeg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="../../assets/icon/annonce1-3.jpeg"></ion-img>
      </ion-slide>
    </ion-slides>
  </div>
  <div id="texte-annonce">
    <div id="header">
      <h5 id="titre">{{data.title}}</h5>
      <ion-text color="primary"><h5 id="prix">100 000 €</h5></ion-text>
      <ion-text color="medium"><p id="date">aujourd'hui 13:56</p></ion-text>
    </div>
    <ion-text color="primary"><h5>Critères</h5></ion-text>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text color="medium"><p>SURFACE</p></ion-text>
          <p id="surface">101m²</p>
        </ion-col>
        <ion-col>
          <ion-text color="medium"><p>RÉFÉRENCE</p></ion-text>
          <p id="ref">170910</p>
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col>
        <ion-text color="medium"><p>TYPE DE BIEN</p></ion-text>
        <p id="type-bien">Appartement</p>
      </ion-col>
      <ion-col>
        <ion-text color="medium"><p>GES</p></ion-text>
        <p id="GES">D (de 21 à 35)</p>
      </ion-col>
      </ion-row>
    </ion-grid>
    <ion-text color="primary"><h5>Description</h5></ion-text>
    <p id="desc">NANCY Rue Raymond Poincaré, charmant T5 de caractère
    composé dune entrée avec placards, salon/séjour, cuisine
    équipée, 2 chambres et un bureau, dépendances. Copro 5 lots
    charges 80€/mois</p>
    <p id="desc-ref">Référence annonce : 170910</p>
  </div>
</ion-content>
    <ion-tabs>
      <ion-tab-bar slot="bottom" color="primary">

        <ion-tab-button tab="contact">
          <ion-icon name="call"></ion-icon>
          <ion-label>Contacter</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="email">
          <ion-icon name="mail"></ion-icon>
          <ion-label>Email</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="save">
          <ion-icon id="save-icon" name="heart-empty" (click)="changeIcon()"></ion-icon>
          <ion-label>Sauvegarder</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
