#images-annonce{
  height:48%;
  min-height:48%;

  .slide-zoom {
    // height:200px;
    height: 100%;
    // overflow:hidden;
  }

  ion-slides {
    height: 100%;
  }

  ion-slide ion-img {
    object-fit: cover;
    height: 100%;
  }
}

#texte-annonce{

  #header{
    border-bottom: rgba(127,127,127,0.1) solid 1px;
    margin-bottom: 4px;
  }

  #header p{
    margin-bottom: 6px;
  }
  p{
    font-size: 13px;
    margin: 0 8px 4px 8px;
  }
  #titre{
    margin: 8px;
  }

  #prix{
    margin: 4px 8px 4px 8px;
    font-weight: bold;
  }
  ion-grid, ion-col{
    padding-top: 0;
    padding-bottom: 0;
  }

  ion-row{
    padding-bottom: 8px;
  }
  h5{
    margin-left: 8px;
    margin-top: 0;
    margin-bottom: 8px;
  }

  #desc-ref{
    height: 72px;
  }
}

ion-icon {
  font-size: 32px;
}

