<ion-content>
  <div id="images-annonce">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <h1><ion-img src="../../assets/icon/annonce1-1.jpeg"></ion-img></h1>
      </ion-slide>
      <ion-slide>
        <h1><ion-img src="../../assets/icon/rip.jpg"></ion-img></h1>
      </ion-slide>
      <ion-slide>
        <h1><ion-img src="../../assets/icon/annonce1-3.jpeg"></ion-img></h1>
      </ion-slide>
    </ion-slides>
  </div>
  <div>This is so test</div>


</ion-content>
