<ion-content>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button href="../liste-resultats/{{ details.id_region }}">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id="images-annonce">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let image of images">
        <ion-img src="../../assets/icon/{{ image.nom }}" alt="{{ image.alt }}"></ion-img>
      </ion-slide>
    </ion-slides>
  </div>
  <div id="texte-annonce">
    <div id="header">
      <h5 id="titre">{{details.title}}</h5>
      <ion-text color="primary"><h5 id="prix">{{details.price}}€</h5></ion-text>
      <ion-text color="medium"><p id="date">{{details.date | date:'shortDate':'+0200' :'fr'}} à {{details.date | date:'shortTime': '+0200' : 'fr'}}</p></ion-text>
    </div>
    <ion-text color="primary"><h5>Critères</h5></ion-text>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text color="medium"><p>SURFACE</p></ion-text>
          <p id="surface">{{details.surface}}m²</p>
        </ion-col>
        <ion-col>
          <ion-text color="medium"><p>RÉFÉRENCE</p></ion-text>
          <p id="ref">{{details.reference}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col>
        <ion-text color="medium"><p>TYPE DE BIEN</p></ion-text>
        <p id="type-bien">{{details.type}}</p>
      </ion-col>
      <ion-col>
        <ion-text color="medium"><p>GES</p></ion-text>
        <p id="GES">{{details.GES}}</p>
      </ion-col>
      </ion-row>
    </ion-grid>
    <ion-text color="primary"><h5>Description</h5></ion-text>
    <p id="desc">{{details.description}}</p>
    <p id="desc-ref">Référence annonce : {{details.reference}}</p>
  </div>
</ion-content>
    <ion-tabs>
      <ion-tab-bar slot="bottom" color="primary">

        <ion-tab-button tab="message" href="../tabs/tab3">
          <ion-icon name="mail"></ion-icon>
          <ion-label>Message</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="save">
          <ion-icon id="save-icon" name="heart-empty" (click)="changeIcon()"></ion-icon>
          <ion-label>Sauvegarder</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
