<ion-header>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="resultList" >
    <ion-item *ngFor="let result of results" href="../details-annonce/{{ result.id_annonce }}">
      <ion-card class="welcome-card">
        <img src="http://bepis.foxgl.ovh/p/immo/{{ result.nom }}" alt="{{ result.title }}" />
        <ion-card-content>
          <ion-card-title>{{ result.title }}</ion-card-title>
          <p class="price">{{result.price}}€</p>
          <p>{{result.type}}</p>
          <p>{{result.place}}</p>
          <p class="date">{{result.date}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <div id="noAnnonce">Pas d'annonce :(</div>
</ion-content>

<ion-tab-bar slot="bottom" color="primary">
  <ion-tab-button href="/tabs/tab1">
    <ion-icon name="home"></ion-icon>
    <ion-label>Accueil</ion-label>
  </ion-tab-button>

  <ion-tab-button href="/tabs/tab2">
    <ion-icon name="heart"></ion-icon>
    <ion-label>Favoris</ion-label>
  </ion-tab-button>


  <ion-tab-button href="/tabs/tab3">
    <ion-icon name="chatbubbles"></ion-icon>
    <ion-label>Messages</ion-label>
  </ion-tab-button>

  <ion-tab-button href="/tabs/tab4">
    <ion-icon name="contact"></ion-icon>
    <ion-label>Mon compte</ion-label>
  </ion-tab-button>
</ion-tab-bar>
