<ion-header>
    <ion-searchbar></ion-searchbar>
  {{results.length}} annonces
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let result in results">
      <ion-card class="welcome-card">
      <img src="{{result.image}}" alt="" />
      <ion-card-content>
        <ion-card-title>{{result.titre}}</ion-card-title>
        <p class="price">{{result.prix}}</p>
        <p>{{result.type}}</p>
        <p>{{result.place}}</p>
        <p class="date">{{result.date}}</p>
      </ion-card-content>
    </ion-card></ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="getResults($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
