img{
  width: 155px;
  object-fit: cover;
}

a{
  width: 100%;
}

ion-item{
  margin-right: 16px;
}

ion-card{
  width: 100%;
  display: flex;
  height: 160px;
  cursor: pointer;
}

ion-card-title{
  font-size: 13px;
}

ion-card-content{
  position: relative;
  justify-content: flex-end;
}

p{
  font-size: 12px;
}

.price{
  padding-top: 10px;
  color: red;
  font-weight: bolder;
  font-size: 13px;
}

.date{
  font-size: 10px;
}

