<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mes favoris
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template [ngIf]=checkIfLogged()>
  <img id="no-fav" src="{{ img }}" />
  <ion-item *ngFor="let favori of favoris" href="../details-annonce/{{ favori.id }}">
    <ion-card class="welcome-card" >
      <img src="/assets/icon/{{ favori.nom }}" alt="{{ favori.alt }}" />
      <ion-card-content>
        <ion-card-title>{{ favori.title }}</ion-card-title>
        <p class="price">{{ favori.price }} €</p>
        <p>{{ favori.category }}</p>
        <p>{{ favori.place }}</p>
        <p class="date">{{ favori.date }}</p>
      </ion-card-content>
    </ion-card>
  </ion-item>
  </ng-template>


  <ng-template [ngIf]=!checkIfLogged()>
    <div class="connexion">
    <div class="titre">
      <h1>Bonjour !</h1>
      <ion-label>Connectez-vous pour découvrir toutes nos fonctionnalités.</ion-label>
    </div>

    <ion-input [(ngModel)]="usrInput" placeholder="Utilisateur"></ion-input>
    <ion-input type="password" [(ngModel)]="pwdInput" placeholder="Mot de passe"></ion-input>
    <div class="ion-padding">
      <ion-button (click)="logUser()" expand="block" type="submit" class="ion-no-margin">Se connecter</ion-button>
    </div>
    </div>
  </ng-template>

</ion-content>


