<ion-header>

  <ion-toolbar>
    <ion-title>
      Favoris
    </ion-title>
  </ion-toolbar>
</ion-header>

<img src="{{ img }}" />
<ng-template [ngIf]=checkIfLogged()>
<ion-content *ngFor="let favori of favoris">
  <ion-card class="welcome-card">
    <img src="/assets/icon/annonce1-1.jpeg" alt="" />
    <ion-card-content>
      <ion-card-title>{{ favori.title }}</ion-card-title>
      <p class="price">{{ favori.price }} €</p>
      <p>{{ favori.category }}</p>
      <p>{{ favori.place }}</p>
      <p class="date">{{ favori.date }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
</ng-template>

<ion-content>
  <ng-template [ngIf]=!checkIfLogged()>
    <ion-label>Déconnecté(e).</ion-label>
  </ng-template>
</ion-content>
