#no-fav{
  display: block;
  width: 90%;
  max-width: 438px;
  max-height: 351px;
  margin: 10% auto;
}


ion-title{
  text-align: center;
}

ion-card{
  width: 100%;
  display: flex;
  height: 160px;
  cursor: pointer;
  background-color:#ffffff;

  img{
    width: 155px;
    object-fit: cover;
  }
}

ion-card-title{
  font-size: 13px;
}

ion-card-content{
  position: relative;
  justify-content: flex-end;
}

p{
  font-size: 12px;
}

.welcome-card{
  width: 100%;
}
.price{
  padding-top: 10px;
  color: red;
  font-weight: bolder;
  font-size: 13px;
}

.date{
  font-size: 10px;
}

.connexion{
  display: block;
  margin: 50px;
  text-align: center;
}

.titre{
  margin-bottom: 20px;
}
