img{
  width: 155px;
}

ion-content{
  --ion-background-color:#fafafa;
}

ion-card{
  display: flex;
  height: 120px;
  background-color:#ffffff;
}

ion-card-title{
  font-size: 13px;
}

ion-card-content{
  position: relative;
  justify-content: flex-end;
}

p{
  font-size: 12px;
}

.price{
  padding-top: 10px;
  color: red;
  font-weight: bolder;
  font-size: 13px;
}

.date{
  font-size: 10px;
}

