<ion-header>
  <ion-toolbar>
    <ion-title>
      Messages
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [hidden]="showingMessage">
  <ng-template [ngIf]=checkIfLogged()>
      <ion-item *ngFor="let message of messages">
        <ion-card class="welcome-card" (click)="showMessage()">
          <img src="/assets/icon/annonce1-1.jpeg" alt="" />
          <ion-card-content>
            <ion-card-title>{{ message.title }}</ion-card-title>
            <p>{{ message.message }}</p>
            <p class="date">{{ message.date }}</p>
            <p></p>
          </ion-card-content>
        </ion-card>
      </ion-item>

  </ng-template>
  <ng-template [ngIf]=!checkIfLogged()>
    <ion-label>Déconnecté(e).</ion-label>
  </ng-template>
</ion-content>

<ion-content [hidden]="!showingMessage">
  <ion-item *ngFor="let message of messages">
    {{ message.sender }}
    {{ message.title }}
    {{ message.date }}
    {{ message.message }}
  </ion-item>
</ion-content>
<ion-footer [hidden]="!showingMessage">
  <ion-item>
    <ion-input name="messageInput" [(ngModel)]="messageInput" placeholder="Ecrivez ici..."></ion-input>
    <ion-button item-right (click)="sendMessage()">Envoyer</ion-button>
  </ion-item>
</ion-footer>

