img{
  width: 100px;
}

ion-title{
  text-align: center;
}

ion-content{
  --ion-background-color:#fafafa;
}

ion-card{
  display: flex;
  height: 75px;
  background-color:#ffffff;
}

ion-card-title{
  font-size: 14px;
}

ion-card-content{
  position: relative;
  justify-content: flex-end;
}

p{
  font-size: 12px;
}

.welcome-card{
  width: 100%;
}
.date{
  font-size: 10px;
}

ion-list, ion-footer{
  display: none;
}

