<ion-header>
  <ion-toolbar color="primary">
    <ng-template  [ngIf]=!verifTitle()>
    <ion-title>
      Mes messages
    </ion-title>
    </ng-template>

    <ng-template  [ngIf]=verifTitle() *ngFor="let message of messages">
        <ion-fab-button href="../tabs/tab3">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
      <ion-title >
        {{message.username}}
      </ion-title>
    </ng-template>
  </ion-toolbar>

</ion-header>
<ion-content [hidden]="showingMessage">
  <ng-template [ngIf]=checkIfLogged()>
      <ion-item *ngFor="let message of messages">
        <ion-card class="welcome-card" (click)="showMessage(message.id_annonce)">
          <img src="/assets/icon/annonce1-1.jpeg" alt="" />
          <ion-card-content>
            <ion-card-title>{{ message.username }}</ion-card-title>
            <p>{{ message.title }}</p>
            <p class="date">{{ message.date }} {{ message.message }}</p>
            <p></p>
          </ion-card-content>
        </ion-card>
      </ion-item>

  </ng-template>
  <ng-template [ngIf]=!checkIfLogged()>
    <ion-label>Déconnecté(e).</ion-label>
  </ng-template>
</ion-content>

<ion-content [hidden]="!showingMessage">
  <ion-item *ngFor="let message of messages">
    <ion-card-header>
      <img src="/assets/icon/annonce1-1.jpeg" alt="" />
        <p>{{ message.title }}</p>
        <p class="date">{{ message.date }}</p>
    </ion-card-header>
  </ion-item>
  <ion-item *ngFor="let message of detailMessage">
    <ion-card >
      <ion-card-content>
        {{ message.message }}
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>
<ion-item [hidden]="!showingMessage">
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <ion-button  (click)="showMessage(null)">←</ion-button>
        </ion-col>
        <ion-col size="10">
          <ion-input name="messageInput" [(ngModel)]="messageInput" placeholder="Ecrivez ici..."></ion-input>
        </ion-col>
        <ion-col size="auto">
          <ion-button  (click)="sendMessage()">Envoyer</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-item>

