<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mes messages
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [hidden]="showingMessage">
  <ng-template [ngIf]=checkIfLogged()>
      <ion-item *ngFor="let message of messages">
        <ion-card class="welcome-card" (click)="showMessage(message)">
          <img src="/assets/icon/annonce1-1.jpeg" alt="" />
          <ion-card-content>
            <ion-card-title>{{ message.title }}</ion-card-title>
            <p>{{ message.message }}</p>
            <p class="date">{{ message.date }}</p>
            <p></p>
          </ion-card-content>
        </ion-card>
      </ion-item>

  </ng-template>
  <ng-template [ngIf]=!checkIfLogged()>
    <ion-label>Déconnecté(e).</ion-label>
  </ng-template>
</ion-content>

<ion-content [hidden]="!showingMessage">
  <ion-item>
    <ion-badge color="light" item-left>
      {{ shownMessage.username }}
      {{ shownMessage.date }} :
      {{ shownMessage.message }}
    </ion-badge>
  </ion-item>
</ion-content>
<ion-item [hidden]="!showingMessage">
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <ion-button  (click)="showMessage(null)">←</ion-button>
        </ion-col>
        <ion-col size="10">
          <ion-input name="messageInput" [(ngModel)]="messageInput" placeholder="Ecrivez ici..."></ion-input>
        </ion-col>
        <ion-col size="auto">
          <ion-button  (click)="sendMessage()">Envoyer</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-item>

